*{ 
    margin: 0;
    padding: 0;
}






/*################TOP MENU##########*/



header{
    width: 100%;
    height: 70px;
    background-color:navajowhite;
    border-top: .5px solid #ffffff;
    border-bottom: .5px solid #ffffff;
}

h1 {
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 10%;
    margin-top: 10px;
    font-family: sans-serif;
    color: #0c7db1;
}

span{
    color: #ffffff;
}

ul{
    width: auto;
    float: right;
    margin-top: 8px;
    
    
}

li{
    display: inline-block;
    padding: 15px 30px;
    border-left: .5px solid #ffffff;

}

a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.2vw;
}

a:hover{
    color: aquamarine;
    transition: 0.5s;
}

/*##############SIDE-MENU###############*/

.wrapper .sidebar{
    background: rgb(2, 2, 28);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241,237,237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a:active{
    color: #0c7db1;
    /*######BoxColor######*/
    background:rgb(74, 184, 204);
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a:active .icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

 /*######NameSection#################################*/

.nameposition{
}

h2{
    padding: 3px;
    float: left;
    margin-left: 30rem;
    margin-top: 35rem;
    font-family: sans-serif;
    color: antiquewhite;
}

.Quote{
    color: aqua;
}

